<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TP FINAL</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
	<center>
		<br>
		<h1>Empleados</h1>
		<hr width="98%">
		<div class="grupoDiv" style="margin: 30px; display: flex; gap: 10px; height: 400px">
			<div class="grupoDiv2"
				style="display: flex; flex-direction: column; gap: 10px; align-items: center; justify-content: center;">
				<div class="card" style="width: 18rem;">
					<form class="card-body" action="/" method="post">
						<h5 class="card-title">Agregar empleado</h5>
						<br>
						<div class="form-group d-none">
							<input type="text" class="form-control" name="id" value="-1">
						</div>
						<div class="form-group">
							<label for="Nombre">Nombre/s</label>
							<input type="text" class="form-control" name="nombre" placeholder="Ej: Juan" required>
						</div>
						<br>
						<div class="form-group">
							<label for="Apellido">Apellido/s</label>
							<input type="text" class="form-control" name="apellido" placeholder="Ej: Perez" required>
						</div>
						<br>
						<div class="form-group">
							<label for="Email">Email</label>
							<input type="email" class="form-control" name="email" aria-describedby="emailHelp"
								placeholder="Ej: juan.perez@gmail.com" required>
						</div>
						<br>
						<div class="form-group">
							<label for="Usuario">Usuario</label>
							<input type="text" class="form-control" name="usuario" placeholder="Ej: Juan.Perez"
								required>
						</div>
						<br>
						<div class="form-group">
							<label for="password">Contraseña</label>
							<input type="password" class="form-control" name="password" placeholder="" required>
						</div>
						<br>
						<div class="form-group">
							<label for="cargo">Cargo</label>
							<select class="form-select" name="cargo" required>
								<option value="CEO">CEO</option>
								<option value="JEFE">JEFE</option>
								<option value="EMPLEADO" selected>EMPLEADO</option>
							</select>
						</div>
						<br>
						<button type="submit" class="btn btn-success">Guardar</button>

					</form>
				</div>
			</div>
			<div class="tabla" style="height: 100%; width: 100%; overflow-y: scroll;">
				<div class="grupoDiv" style="display: flex; gap: 10px;">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">
									ID
								</th>
								<th scope="col">
									Nombre
								</th>
								<th scope="col">
									Apellido
								</th>
								<th scope="col">
									Email
								</th>
								<th scope="col">
									Usuario
								</th>
								<th scope="col">
									Contraseña
								</th>
								<th scope="col">
									Cargo
								</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="empleado : ${listaEmpleados}">
								<form action="/" method="post">
									<td scope="row">
										<input type="text" name="id" class="form-control" readonly="readonly"
											style="width: 60px; text-align: center;" th:value="${empleado.id}">
									</td>
									<td>
										<input type="text" name="nombre" class="form-control" readOnly=true
											th:value="${empleado.nombre}" th:id="${empleado.id}" required>
									</td>
									<td>
										<input type="text" name="apellido" class="form-control" readOnly=true
											th:value="${empleado.apellido}" th:id="${empleado.id}" required>
									</td>
									<td>
										<input type="email" name="email" class="form-control" readOnly=true
											th:value="${empleado.email}" th:id="${empleado.id}"
											aria-describedby="emailHelp" required>
									</td>
									<td>
										<input type="text" name="usuario" class="form-control" readOnly=true
											th:value="${empleado.usuario}" th:id="${empleado.id}" required>
									</td>
									<td>
										<input type="password" name="password" class="form-control" readOnly=true
											th:value="${empleado.password}" th:id="${empleado.id}" required>
									</td>
									<td>
										<input type="text" class="form-control cargo" readOnly=true
											th:value="${empleado.cargo}">
										<select class="form-select cargo2" name="cargo" style="display: none;" required
											th:id="${empleado.id}">
											<option value="CEO">CEO</option>
											<option value="JEFE">JEFE</option>
											<option value="EMPLEADO" selected>EMPLEADO</option>
										</select>
									</td>
									<td>
										<button type="button" class="btn btn-primary btn-editar" onclick="edicion(this)"
											style="width: 5rem;">
											Editar
										</button>
										<button type="submit" class="btn btn-success btn-guardar"
											onclick="guardarCambios(this)" style="display: none; width: 5rem;">
											Guardar
										</button>
										<button type="submit" class="btn btn-danger btn-eliminar"
											onclick="eliminarFila(this)" style="width: 5rem;">
											Eliminar
										</button>
									</td>
								</form>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<script>
				function edicion(boton) {
					var fila = boton.closest('tr');
					var inputs = fila.getElementsByTagName('input', 'select');
					var botonEditar = fila.querySelector('.btn-editar');
					var botonGuardar = fila.querySelector('.btn-guardar');
					var botonEliminar = fila.querySelector('.btn-eliminar');
					var inputCargo = fila.querySelector('.cargo');
					var selectCargo = fila.querySelector('.cargo2');

					document.querySelectorAll('.fila-editando').forEach(function (otraFila) {
						if (otraFila !== fila) {
							desactivarEdicion(otraFila);
						}
					});

					for (var i = 0; i < inputs.length; i++) {
						inputs[i].readOnly = !inputs[i].readOnly;
					}

					fila.classList.toggle('fila-editando');
					botonEditar.style.display = 'none';
					botonGuardar.style.display = 'inline';
					inputCargo.style.display = 'none';
					selectCargo.style.display = 'inline';
					botonEliminar.disabled = fila.classList.contains('fila-editando');

					var form = fila.querySelector('form');
					form.action = '';
				}

				function desactivarEdicion(fila) {
					var inputs = fila.getElementsByTagName('input');
					var botonEditar = fila.querySelector('.btn-editar');
					var botonGuardar = fila.querySelector('.btn-guardar');
					var botonEliminar = fila.querySelector('.btn-eliminar');

					for (var i = 0; i < inputs.length; i++) {
						inputs[i].readOnly = true;
					}

					fila.classList.remove('fila-editando');
					botonEditar.style.display = 'inline';
					botonGuardar.style.display = 'none';
					inputCargo.style.display = 'inline';
					selectCargo.style.display = 'none';
					botonEliminar.disabled = false;
				}

				function guardarCambios(boton) {
					var fila = boton.closest('tr');
					var form = fila.querySelector('form');
					form.action = '/';
				}

				function eliminarFila(boton) {
					var fila = boton.closest('tr');
					var form = fila.querySelector('form');
					form.action = '/registroeliminado';
				}

			</script>

			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
				integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
				crossorigin="anonymous">
				</script>

	</center>

</body>

</html>