<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TP1</title>
</head>

<body>

	<table border="1px">
		<tr>
			<th>
				ID
			</th>
			<th>
				Nombre
			</th>
			<th>
				Materia
			</th>
			<th>
				Turno
			</th>
		</tr>
		<tr th:each="profe : ${listaProfes}">
			<td th:text="${profe.id}"></td>
			<td th:text="${profe.nombre}"></td>
			<td th:text="${profe.materia}"></td>
			<td th:text="${profe.turno}"></td>
		</tr>
	</table>
	<br>
	<a href="/"><button type="button" class="btn btn-dark">Volver</button></a>

</body>

</html>